*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.swiper {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 450px;
  width: 350px;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-button-prev{
    background-color: coral;
    left: 20px;
}
.swiper-button-next{
    background-color: coral;
    right: 20px;
}
.swiper-button-next::after, .swiper-button-prev::after{
    color: #f6f3f1;
    font-size: 20px;
}
.swiper-pagination{
    background-color: transparent;
    width: 15px;
    height: 15px;
    opacity: 1;
    border-radius: 0;
}
.swiper-pagination-bullet-active{
    background-color: coral;
}